body {
    text-align: center;
    font-family: 'Microsoft JhengHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

div.wrap {
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul.chart li {
    width: 42%;
    margin: 25px;
    display: inline-block;
    border-radius: 5px;
}
li>span{
    display: inline-block;
    width: 45px;
    text-align: left;
}
ul.category>li {
    width: 15%;
    margin: 25px;
    display: inline-block;
    border-radius: 5px;
}
ul.category_total>li {
    width: 35%;
    margin: 25px;
    display: inline-block;
    border-radius: 5px;
}
ul.total>li {
    width: 15%;
    margin: 25px;
    display: inline-block;
    border-radius: 5px;
}
ul.controls{
    display: table;
  margin: 0 auto;
}
ul.controls>li {
    width: 100%;
    margin: 25px;
    display: table;
    border-radius: 5px;
    
}
ul.controls li>span{
    width: auto ;   
}
ul.controls li>input{
    text-align: center ;   
}
h1 {
    /* cursor: pointer */
}